@import "../../styles/colors.scss";

@keyframes slidein {
  0% {transform: translate(0, 0);
    opacity: 0;}
  100% {transform: translate(30px, 0);
    opacity: 1;}
}

.Menu-click-blocker {
    display: flex;
    position: fixed;
    top: 0;
    opacity: 0;
    background-color: black;
    transition: opacity 0.5s, visibility 0s linear 1s, width 0s linear 1s, height 0s linear 1s;
    width: 0px;
    height: 0px;
    visibility: hidden;

    &.Active {
      visibility: visible;
      opacity: 0.7;
      height: 100vh;
      width: 100%;
      transition-delay: 0s;
    }
}

.Test-menu {
  width: calc(100% * 1/3);
  height: 100%;
  background-color: $light-cream;
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.5s ease-out;
  padding-top: 30px;
  z-index: 5;
  visibility: visible;

  &.Closed-menu {
    transform: translate(-100%, 0);
    visibility: hidden;
    transition: transform 0.3s ease-out, visibility 0s linear 0.3s;
  }

  .Menu-list {
    position: absolute;
    opacity: 0;
    height: 0px;
    width: 0px;
    list-style: none;
    visibility: hidden;
    top: 270px;

    &.Visible {
      width: auto;
      height: auto;
      opacity: 1;
      visibility: visible;
    }
  }
}

.Menu-list-item {
  opacity: 0;
  padding: 5px 0px;

  .Menu-fake-link {
    color: black;
    font-size: 22px;
  }
}

.Sub-menu-item {
  opacity: 0;
}

@for $i from 0 through 100 {
  .Slide-in-#{$i} {
    animation: slidein 0.8s;
    animation-delay: $i * 0.07s;
    animation-fill-mode: forwards;
  }
}

.Sub-menu {
  position: fixed;
  left: calc(100% * 1/3);
  top: 0;
  height: 100%;
  width: calc(100% * 1/3);
  z-index: 4;
  transition: transform 0.5s ease-out;
  background-color: $light-cream;
  visibility: visible;

  &.Inactive {
    transform: translate(-100%, 0);
    transition: transform 0.3s ease-out, visibility 0s linear 0.3s;
    visibility: hidden;
    height: 100%;
  }

  .Sub-menu-list {
    padding-top: 270px;
    padding-left: 0px;
    list-style: none;

    .Sub-menu-link {
      display: inline-block;
      color: black;
      margin-bottom: 10px;
      &::after {
        content: '';
        width: 100%;
        border-bottom: 1px solid transparent;
        height: 1px;
        display: block;
        transition: border-color 0.5s
      }
      &:hover::after {
        border-color: black;
      }
    }
  }
}

.Sub-menu-detail {
  z-index: 3;
  position: fixed;
  top: 0;
  left: calc(100% * 2/3);
  width: calc(100% * 1/3);
  background-color: $darker-cream;
  height: 100%;
  transition: transform 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;

  &.Inactive {
    transform: translate(-100%,0);
    transition: transform 0.3s, visibility 0s linear 0.5s;
    visibility: hidden;

    .Product-picture {
      opacity: 0;
      transition: opacity 0s linear 0s;
    }
  }
  .Product-picture {
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 0.5s linear 0.4s;

  }
}

@media (max-width: 1025px) {
  .Test-menu {
    width: 50%;
    left: 0; // zasto iskace sa leve strane kad nema -2px ?
    border-right: 1px solid lightgray;
  }
  .Sub-menu {
    width: 50%;
    left: 50%;
  }
}

@media (max-width: 650px) {
  .Menu-click-blocker {
    display: none;
  }
  .Test-menu {
    width: 100%;
    left: 0;
    opacity: 1;
    transition: none;
    &.Closed-menu {
      transform: translate(-100%);
      transition: opacity 0.5s, visibility 0s linear 0.5s;
      visibility: hidden;
      opacity: 0;
      .Menu-list {
        top: 150px;
      }
    }
  }
  .Sub-menu {
    z-index: 7;
    width: 100%;
    transform: none;
    transition: none;
    left: 0;
    &.Inactive {
      transition: none;
    }
    .Sub-menu-list {
      padding-top: 150px;
      padding-left: 0px;
      list-style: none;

      .Sub-menu-item {
        padding: 5px 0;
        .Sub-menu-link {
          margin: 0px;
          color: black;
          font-size: 22px;
        }
      }
    }
    &.Inactive {
      transform: translate(-100%);
    }
  }
}

.Login-link {
  opacity: 0;
  position: absolute;
  bottom: 50px;
  left: 0;
  z-index: 8;
}
